version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - pg_db
    env_file:
      - docker.env
    networks:
      - my_network
    restart: always

  bot:
    build: .
    command: bash -c "python manage.py startbot"
    volumes:
      - .:/code
    ports:
      - "8001:8001"
    environment:
      - DEBUG=1
    depends_on:
      - web
      - pg_db
    networks:
      - my_network
    restart: always

  pg_db:
    container_name: pg_db
    hostname: db
    image: postgres:latest
    environment:
      POSTGRES_DB: tele_bot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - my_network

  pgadmin_speech_card:
    image: dpage/pgadmin4
    container_name: pgadmin_speech_card
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - pg_db
    networks:
      - my_network

networks:
  my_network:
    driver: bridge

volumes:
  db_data:
